[flake8]
max-line-length = 120
htmldir = flake_html
count = True
max-complexity = 15
ignore = E121,E123,E126,E133,E226,E241,E242,E704,W503,D100,D101,D102,D103,D302,D401
exclude =
    __init__.py
    *.css
    *.csv
    *.js
    *.less
    *.md
    *.png
    *.po
    *.scss
    *.txt
    *.xml
    *.yml
    *.rst
    *.html
    .flake8
    .coveragerc
    Dockerfile
    .gitignore
    .eslint/*
    MODEL*
